<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<title>Dota2 where teammate</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
    {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
    {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
    <body>
        
        
{% if not session.redo_search %}
<form action="{{ url_for('search') }}" method="post">
{% else %}
<form action="{{ url_for('redo_search') }}" method="post">
{% endif %}

    <fieldset>
        <legend><h2>Get Matched</h2></legend>
        {% if not session.logged_in %}
            <b>Steam ID:</b> <input name="username" required="required" type="text" value="_no_user" placeholder="_no_user"/>
        {% else %}
            <b>Steam ID:</b> <input name="username" required="required" type="text" value="{{session.logged_name}}" placeholder="{{session.logged_name}}"/>
        {% endif %}

        <br><br><b>MMR:</b> <input name="mmr" required="required" type="number" placeholder="9001"/>
        <br><br><b>Position:</b> <input type="checkbox" name="carry" value="1" />1: Carry </>
        <input type="checkbox" name="mid" value="1" />2: Carry (Mid)</>
        <input type="checkbox" name="off" value="1" />3: Offlane</>
        <input type="checkbox" name="support" value="1" />4: Support </>
        <input type="checkbox" name="hard_support" value="1" />5: Support :(</>
        <br><br><b>Server:</b> <input type="checkbox" name="usw" value="1" />US:W </>
        <input type="checkbox" name="use" value="1" />US:E</>
        <input type="checkbox" name="china" value="1" />CHINA</>
        <br><br><b>Language:</b> <input type="checkbox" name="English" value="1" />English </>
        <input type="checkbox" name="Russian" value="1" />Russian</>
        <input type="checkbox" name="Chinese" value="1" />Chinese</>
    </fieldset>
    <input type="submit" value="Submit now" />
</form>
    </body>
</div>
</html>
